div.insert form input {
	padding: 8px 10px;
	width: 215px;
}

div.insert form input[type=submit]{
	padding: 10px 12px;
}

table.youtubers tr td {
	padding: 2px 25px;
	width: 22.1%;
}


#navbar ul {
	height: 2700px;
}